$font-mainFirst: "Source Sans Pro";
$font-mainSecond: "Segoe UI";
$font-mainThird: "Helvetica Neue";
$font-keyFirst: Times;
$font-keySecond: "Times New Roman";
$font-keyThird: "Georgia";


$font-xl: 36px;
$font-lg: 24px;
$font-md: 18px;
$font-sm: 12px;
$font-xs: 9px;
